@font-face {
    font-family: arialBold;
    src: url(./font/arialbd_3.ttf);
}
@font-face {
    font-family:ftraBook ;
    src: url(./font/FtraBk.ttf);
}
@font-face {
    font-family: ttm;
    src: url(./font/tt0144m.ttf);
}
body {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    background-color: #edeff1;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-info-box {
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 42px 42px 26px;
    background: white;
    box-shadow: 0px 6px 5px -2px #0065a1d6;
    position: relative;
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    /* border-color: #86b7fe; */
    outline: 0;
    box-shadow: 0 0 0 0.011rem rgb(0 101 161 / 36%);
}
.form-control {
    background-color: #fbfbfb;
    border: 2px solid #0065a1ad;
}
button.btn.btn-primary {
    /* width: 100%; */
    background-color: #004893;
    border: none;
    font-family: 'arialBold';

}
label.form-label {
    font-weight: 500;
    font-size: 16px;
    font-family: 'ftraBook';
}

.title {
    background: #004893;
    width: 85%;
    padding: 5px;
    text-align: center;
    vertical-align: c;
    margin: 0;
    padding: o;
    position: absolute;
    top: -22px;
    color: white;
    font-size: 20px;
    font-family: 'arialBold';
}
.title p {
    margin: 0;
}
/* ----------------------------------frame css start --------------------------------------------------*/
ul.main-list {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    padding: 0;
}

.frame-list {
    background: #3e83c329;
}
.list:nth-child(2) {
    margin-top: 103px;
}
.frame-title {
    text-align: center;
    background: white;
    margin-bottom: 20px;
    padding: 12px;
    color: #004893;
    font-size: 1.75rem;
    font-weight: 600;
    font-family: 'arialBold';

}

ul {
    list-style-type: none;
  }
  
  ul.main-list {
    display: flex;
}
  
  input[type="radio"][id^="myradio"] {
    display: none;
  }
  
  .label {
    /* border: 2px solid #c91818; */
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
  }
  
 
  .label img {
    height: 300px;
    width: 300px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
    filter: drop-shadow(0px 0px 1px #0065a1);

  }
  
  :checked + .label {
    border: 2px solid #3d81c1;
    border-radius: 50%;
  }
  
  :checked + .label img {
    transform: scale(0.99);
    /* box-shadow: 0 0 5px #333; */
    z-index: -1;
    /* background-color: red; */
  }


  :checked + .label:before {
    content: "✓";
    background-color: #004893;
    transform: scale(1);
}
.label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid #dadada;
    position: absolute;
    top: 51px;
    left: 13px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}

/* ----------------------------frame 3 css------------------------------------------- */

.frame3{
    background-color: #004893;
    height: 520px;
    width: 520px;
    border-radius: 50%;
    position: relative;
}
/* img.frm3-title{
    position: absolute;
} */
    /* img.frm3-title1 {
      
        top: 0%;
    width: 350px;
    left: 0%;
    transform: translate(36%, 94%);


    } */
    /* img.frm3-title2 {
        top: 0;
        width: 54%;
        left: 0;
        transform: translate(44%, 78%);

    } */
    /* img.frm3-title.frm3-title3 {
        
        height: 100%;
        width: 100%;
    } */
   
    /* .img-show {
        position: absolute;
        background: #fefeff;
        height: 28%;
        width: 28%;
        top: 45%;
        left: 27%;
        transform: translate(22%, 22%);
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        padding: 7px;
    } */

    /* .img-show-sub {
        background: rgb(255, 255, 255);
        position: relative;
        height: 100%;
        width: 100%;
    } */
   
    /* img.frm3-title.frm3-title3 {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid rgb(18, 10, 10);
        z-index: 9999;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    } */






    /* -------------------------updated css */

    
img.frm3-title2 {
    top: 0;
    width: 51%;
    left: 0;
    /* transform: translate(44%, 78%); */
    margin-top: 3%;
    /* background: rebeccapurple; */
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: d;
    flex-direction: column;
}
img.frm3-title1 {
    /* top: 0%; */
    width: 60%;
    /* left: 0%; */
    /* transform: translate(36%, 94%); */
    margin-top: 11%;
}




.img-show-sub {
    background: rgb(255, 255, 255);
    position: relative;
    height: 100%;
    width: 100%;
}
img.frm3-title.frm3-title3 {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid rgb(18, 10, 10);
    z-index: 9999;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    object-fit: fill;
}

.img-show {
    /* position: absolute; */
    background: #fefeff;
    height: 180px;
    max-height: 100%;
    width: 100%;
    width: 180px;
    margin-top: 2%;
    top: 51%;
    /* left: 27%; */
    /* transform: translate(22%, 22%); */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    padding: 7px;
}

.text-content {
    color: #fff;
    font-size: 16px;
    text-align: center;
    font-family: ftraBook;

}
.text-content h3{
    font-size: 22px;
    margin: 10px 0px 4px;
    font-family: 'arialBold';

}

/*----------------------- frame2 css start -----------------*/
.frame2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
img.frame-bg-main {
    position: relative;
    height: 520px;
    width: 520px;
}


img.fr2 {
    position: absolute;
    height: 30%;
    /* width: 100%; */
    top: 12%;
    /* left: 0; */
    /* right: 0; */
    /* background: rebeccapurple; */
}
.fr2-title {
    position: absolute;
    top: 45%;
    text-align: center;
    font-size: 18px;
    font-family: 'ftraBook';

}

.fr2-title h3 {
    font-size: 2.35rem;
    font-weight: 700;
    text-transform: capitalize;
    color: #015b91;
    margin-bottom: 2px;
    font-family: 'ttm';

}

.circul-box-fr2 {
    height: 32%;
    width: 32%;
    /* background: rebeccapurple; */
    position: absolute;
    bottom: 7%;
    border-radius: 50%;
    border: 5px solid #015a8e;
}
.circul-subox-fr2 img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: fill;
    /* object-fit: contain; */
}

/* ----------------------------frame 4 css start----------------- */
img.fr4 {
    position: absolute;
    height: auto;
    width: 55%;
    top: 12%;

}
img.fr42 {
    position: absolute;
    height: auto;
    width: 60%;
    top: 26%;


}
.sqare-box-fr4 {
    height: 32%;
    width: 30%;
    /* background: rebeccapurple; */
    position: absolute;
    top: 48%;
    border-radius: 14px;
    border: 4px solid #3e4095;
}
.sqare-subox-fr4 img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 14px;
    object-fit: fill;
  
}
.fr4-title {
    position: absolute;
    bottom: 9%;
    text-align: center;
    font-size: 16px;
    font-family: 'ftraBook';
}
.fr4-title h3 {
    font-size: 1.10rem;
    font-weight: 700;
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom: 0px;
    font-family: 'arialBold';
}
/* ---------------------------media query------------------------- */
@media screen and (max-width: 1024px) {
    .label img {
        height: 200px;
        width: 200px;
        transition-duration: 0.2s;
        transform-origin: 50% 50%;
        filter: drop-shadow(0px 0px 1px #0065a1);

    }
    .label:before {
        background-color: white;
        color: white;
        content: " ";
        display: block;
        border-radius: 50%;
        border: 1px solid #dadada;
        position: absolute;
        top: 31px;
        left: 5px;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 28px;
        transition-duration: 0.4s;
        transform: scale(0);
    }
}
@media screen and (max-width: 768px) {
    .label img {
        height: 200px;
        width: 200px;
        transition-duration: 0.2s;
        transform-origin: 50% 50%;
        filter: drop-shadow(0px 0px 1px #0065a1);

    }
    .label:before {
        background-color: white;
        color: white;
        content: " ";
        display: block;
        border-radius: 50%;
        border: 1px solid #dadada;
        position: absolute;
        top: 31px;
        left: 5px;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 28px;
        transition-duration: 0.4s;
        transform: scale(0);
    }
}
@media screen and (max-width: 576px) {
    body {
        padding: 0;
        box-sizing: border-box;
        margin: 0;
        background-color: #edeff1;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px;
    }
    .user-info-box {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 42px 20px 12px;
        background: white;
        box-shadow: 0px 6px 5px -2px #0065a1d6;
        position: relative;
    }
    .frame3 {
        background-color: #004893;
        height: 500px;
        width: 500px;
        border-radius: 50%;
        position: relative;
    }
    img.frame-bg-main {
        position: relative;
        height: 500px;
        width: 500px;
    }
/* ------------------------------------framelist css 576 ---------------------------*/
    ul.main-list {
        display: flex;
        flex-direction: column;
    }
    .list:nth-child(2) {
            margin-top: 0px;
        }
        .label img {
            height: 100%;
            width: 100%;
            transition-duration: 0.2s;
            transform-origin: 50% 50%;
            filter: drop-shadow(0px 0px 1px #0065a1);

        }
        .label:before {
            background-color: white;
            color: white;
            content: " ";
            display: block;
            border-radius: 50%;
            border: 1px solid #dadada;
            position: absolute;
            top: 59px;
            left: 24px;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 28px;
            transition-duration: 0.4s;
            transform: scale(0);
        }
        /* -----------------frame2 css start -----------------------576 */
        img.frame-bg-main {
            position: relative;
            height: 400px;
            width: 400px;
        }
        .fr2-title h3 {
            font-size: 1.75rem;
            font-weight: 700;
            text-transform: capitalize;
            color: #015b91;
            margin-bottom: 2px;
            font-family: 'ttm';

        }
        .circul-box-fr2 {
            height: 30%;
            width: 30%;
            /* background: rebeccapurple; */
            position: absolute;
            bottom: 7%;
            border-radius: 50%;
            border: 4px solid #015a8e;
        }
            /* --------------------frame 3 sccs start 576 -------------*/
    .frame3 {
        background-color: #004893;
        height: 400px;
        width: 400px;
        border-radius: 50%;
        position: relative;
    }
    .img-show {
        /* position: absolute; */
        background: #fefeff;
        height: 125px;
        max-height: 100%;
        width: 100%;
        width: 125px;
        margin-top: 2%;
        top: 51%;
        /* left: 27%; */
        /* transform: translate(22%, 22%); */
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        padding: 7px;
    }
    img.frm3-title2 {
        top: 0;
        width: 46%;
        left: 0;
        /* transform: translate(44%, 78%); */
        margin-top: 3%;
        /* background: rebeccapurple; */
    }

    /* -------------------frame 4 css start 576-------------*/
    .fr4-title {
        position: absolute;
        bottom: 7%;
        text-align: center;
        font-size: 16px;
        font-family: 'ftraBook';
    }
    .fr4-title h3 {
        font-size: 1rem;
        font-weight: 700;
        text-transform: capitalize;
        color: #ffffff;
        margin-bottom: 0px;
        font-family: 'arialBold';
    }
   
  }
@media screen and (max-width: 425px) {
    body {
        padding: 0;
        box-sizing: border-box;
        margin: 0;
        background-color: #edeff1;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px;
    }
    .user-info-box {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 42px 20px 12px;
        background: white;
        box-shadow: 0px 6px 5px -2px #0065a1d6;
        position: relative;

    }
    /* --------------------frame 3 sccs start 425 -------------*/
    .frame3 {
        background-color: #004893;
        height: 320px;
        width: 320px;
        border-radius: 50%;
        position: relative;
    }
    .img-show {
        /* position: absolute; */
        background: #fefeff;
        height: 120px;
        max-height: 100%;
        width: 100%;
        width: 120px;
        margin-top: 2%;
        top: 51%;
        /* left: 27%; */
        /* transform: translate(22%, 22%); */
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        padding: 7px;
    }

    img.frm3-title2 {
        top: 0;
        width: 46%;
        left: 0;
        /* transform: translate(44%, 78%); */
        margin-top: 3%;
        /* background: rebeccapurple; */
    }
/* ---------------------framelist css start 425-------------------- */
        ul.main-list {
            display: flex;
            flex-direction: column;
        }
        .list:nth-child(2) {
                margin-top: 0px;
            }
         .label img {
                height: 100%;
                width: 100%;
                transition-duration: 0.2s;
                transform-origin: 50% 50%;
                filter: drop-shadow(0px 0px 1px #0065a1);

         }
         .label:before {
            background-color: white;
            color: white;
            content: " ";
            display: block;
            border-radius: 50%;
            border: 1px solid #dadada;
            position: absolute;
            top: 59px;
            left: 6px;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 28px;
            transition-duration: 0.4s;
            transform: scale(0);
        }

    /* --------------frame 2 css start 425 -------*/
  
    img.frame-bg-main {
        position: relative;
        height: 320px;
        width: 320px;
    }
    img.fr2 {
        position: absolute;
        height: 28%;
        /* width: 100%; */
        top: 13%;
        /* left: 0; */
        /* right: 0; */
        /* background: rebeccapurple; */
    }
    .fr2-title {
        position: absolute;
        top: 45%;
        text-align: center;
        font-size: 18px;
        font-family: 'ftraBook';

    }
    .fr2-title h3 {
        font-size: 1.35rem;
        font-weight: 700;
        text-transform: capitalize;
        color: #015b91;
        margin-bottom: 2px;
        font-family: 'ttm';

    }
    .circul-box-fr2 {
        height: 28%;
        width: 28%;
        /* background: rebeccapurple; */
        position: absolute;
        bottom: 7%;
        border-radius: 50%;
        border: 5px solid #015a8e;
    }
     /* -------------------frame 4 css start 425-------------*/
     .fr4-title {
        position: absolute;
        bottom: 5%;
        text-align: center;
        font-size: 16px;
        font-family: 'ftraBook';
    }
    .fr4-title h3 {
        font-size: 1rem;
        font-weight: 700;
        text-transform: capitalize;
        color: #ffffff;
        margin-bottom: 0px;
        font-family: 'arialBold';
    }
    
  }


  .btn-check:focus + .btn-primary, .btn-primary:focus {
    color: rgb(255, 255, 255);
    background-color: rgb(11, 94, 215);
    border-color: rgb(10, 88, 202);
    box-shadow: rgb(49 132 253 / 0%) 0px 0px 0px 0.25rem;
}